@{
    ViewData["Title"] = "Epic Solutions";
    ViewData["titulo"] = "Our <strong>Clients</strong>";
    ViewData["subtitulo"] = "We trust our team.";

}

<div class="gtco-section gtco-gray-bg">
    <div class="gtco-container">
        <div class="row portafolio">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.bibliomit.cl/Boletin" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/mejillondechile.min.png" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-bottom text-center">
                            Boletín
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>
                            Boletín Productivo Ambiental para la Industria De Mitílidos.
                            PER Mitílidos.
                        </h2>
                        <p>Integración De Sustentabilidad De Plataformas Informáticas Y Productivas. Boletín estadístico de datos productivo y ambiental para BiblioMit.</p>
                        <p class="gtco-category"><span>Integración de plataformas</span>, <span>Base de datos</span>, <span>Estadísticas</span></p>
                    </div>
                </a>
            </div>
@*            <div class="clearfix visible-sm-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.bibliomit.cl/Ambiental/Map" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/corfo.min.png" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-bottom text-center">
                            SIMAC
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>
                            Sistema de monitoreo ambiental georeferenciado.
                            CORFO.
                        </h2>
                        <p>Integración De Sustentabilidad De Plataformas Informáticas Y Productivas. Boletín estadístico de datos productivo y ambiental para BiblioMit.</p>
                        <p class="gtco-category"><span>Integración de plataformas</span>, <span>Base de datos</span>, <span>Estadísticas</span></p>
                    </div>
                </a>
            </div>
            @*<div class="clearfix visible-sm-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.bibliomit.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/bibliomit.svg" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            Bibliomit
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>
                            Proyecto 16 NODO 70434 "Ciencia y Tecnología para la Industria Mitilicultora"
                            CORFO.
                        </h2>
                        <p>Desarrollador de base de datos y aplicación web Biblioteca Electrónica y Plataforma de Gestión Tecnológica del Recurso <i>Mytilus chilensis</i>.</p>
                        <p class="gtco-category"><span>Diseño web</span>, <span>Base de datos</span>, <span>Gestión de información</span></p>
                    </div>
                </a>
            </div>
            @*<div class="clearfix visible-sm-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.bibliomit.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/mitiliDB.min.svg" alt="Image" class="d-block mx-auto" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            MytiliDB
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>Proyecto ID15I10365 FONDEF "Evaluación del estado sanitario de los mitílidos del sur de Chile".</h2>
                        <p>Desarrollo de base de datos y plataforma integrada para el seguimiento y monitoreo del estado sanitario de mitílidos en la región de Los Lagos.</p>
                        <p class="gtco-category"><span>Desarrollo web</span>, <span>Integración</span>, <span>Bases de datos</span></p>
                    </div>
                </a>
            </div>
            @*<div class="clearfix visible-lg-block visible-md-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.elochile.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/elo.png" alt="Image" class="d-block mx-auto" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            ELO
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2> Programa tecnológico Producción de semilla y repoblamiento de erizo rojo y loco para potenciar la diversificación de la acuicultura nacional</h2>
                        <p>Desarrollo de base de datos, plataforma y modelo de procesamiento de datos e interconexión entre base de datos relacional.</p>
                        <p class="gtco-category"><span>Desarrollo web</span>, <span>Diseño</span>, <span>Base de datos</span></p>
                    </div>
                </a>
            </div>
 @*           <div class="clearfix visible-sm-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://lp2.fpfi.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/logo_trazadofpfi.min.png" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            FPFI
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2> Plataforma de modelamiento estadístico con base de datos, Forest Investment Consulting</h2>
                        <p>Desarrollo de base de datos, plataforma y modelo de procesamiento de datos e interconexión entre base de datos relacional, scripts estadísticos en R y visualizaciones gráficas en CANVAS.</p>
                        <p class="gtco-category"><span>Estadísticas</span>, <span>Plataforma web</span>, <span>Base de datos</span></p>
                    </div>
                </a>
            </div>
@*            <div class="clearfix visible-sm-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.oftalmontt.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/foto-provisoria (2).jpg" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            Oftalmontt
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>Posicionamiento web, redes sociales, indexación web y marketing digital.</h2>
                        <p>Search Engine Optimization (SEO), Search Engine Advertisement (SEA), Social Media Optimization (SMO), Optimización de la página web, <br /> Google Maps.</p>
                        <p class="gtco-category"><span>SEO</span>, <span>Posicionamiento web</span>, <span>Optimización</span></p>
                    </div>
                </a>
            </div>
@*            <div class="clearfix visible-lg-block visible-md-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.mareb.cl/Home/Indicadores" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/MAREB-LOGO.min.png" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            MaReB
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>Base de Datos para Manejo de Recursos Bentónicos de Chile (MaReB).</h2>
                        <p>
                            Desarrollo de plataforma bioinformática y aplicación web con modelo predictivo del ciclo de producción de semillas en las pesquerías bentónicas.
                        </p>
                        <p class="gtco-category"><span>Diseño Web</span>, <span>Base de datos</span>, <span>Estadísticas</span></p>
                    </div>
                </a>
            </div>
@*            <div class="clearfix visible-sm-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="https://www.apdoc.cl/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/PWA.png" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            ApDoc
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>Progressive Web App Sample</h2>
                        <p>
                            Sample of PWA with Gmaps API geolocation and phone notifications.
                        </p>
                        <p class="gtco-category"><span>Diseño Web</span>, <span>PWA</span></p>
                    </div>
                </a>
            </div>
 @*           <div class="clearfix visible-sm-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="http://45.236.130.42:8080/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/CLM.png" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            CLM
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>Landing Page and Accounting System</h2>
                        <p>
                            Small business acounting system with landing page.
                        </p>
                        <p class="gtco-category"><span>Diseño Web</span>, <span>Database</span></p>
                    </div>
                </a>
            </div>
   @*         <div class="clearfix visible-lg-block visible-md-block"></div>*@
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a target="_blank" href="http://45.236.130.42:8084/" class="gtco-card-item">
                    <figure>
                        <div class="overlay"><i class="fas fa-plus"></i></div>
                        <img src="~/images/enap.min.png" alt="Image" class="d-block mx-auto h-75" style="object-fit:scale-down" asp-append-version="true" />
                        <h1 class="display-4 align-middle text-center">
                            ENAP
                        </h1>
                    </figure>
                    <div class="gtco-text">
                        <h2>National Petrol Enterprises</h2>
                        <p>
                            Environmental research results.
                        </p>
                        <p class="gtco-category"><span>Asp.Net 3.0</span>, <span>Diseño Web</span>, <span>Database</span></p>
                    </div>
                </a>
            </div>
     @*       <div class="clearfix visible-lg-block visible-md-block"></div>*@
        </div>
    </div>
</div>

<div id="img_bg_1" class="gtco-cover gtco-cover-sm" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>@Localizer["We offer the quality of service your company deserves!"]</h1>
            </div>
        </div>
    </div>
</div>
