@{
    ViewData["Title"] = "Epic Solutions";
    ViewData["titulo"] = "Soluciones<strong> a tu medida</strong>";
    ViewData["subtitulo"] = "Servicios personalizados.";

}

<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>SEO y Marketing Digital</h2>

                    <p>Search engine optimization (SEO) u Optimización de Motores de Búsqueda.</p>
                    <p>
                        Intervención de tu sitio web para mejorar su visibilidad orgánica en los principales motores de búsqueda. <br />Campañas de marketing digital en
                        Facebook, Instagram, YouTube y Google AdWords.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Editar y agregar contenido</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Indexación web</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Palabras claves</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Redes Sociales</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Google Maps</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Google Adwords</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/seo.670.jpg)"></div>
</div>

<div class="flex-section reverse">
    <div class="gtco-col-1">
        <div class="text">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>Bases de datos</h2>
                    <p>Diseño de bases de datos e integración a sistemas preexistentes.</p>
                    <p>Desarrollo de interfaz de base de datos con visualización de datos procesados.</p>
                    <p>Actualización, modificación, ampliación y procesamiento de bases de datos.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Data Mart</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Data Warehouse</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>ETL</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>OLAP y OLTP</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>DPF y MDC</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>JSON</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/data.670.jpg);"></div>
</div>

<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>Desarrollo Web</h2>

                    <p>Desarrollamos el sitio web o plataforma adecuada al tamaño y objetivos de tu empresa.</p>
                    <p>Diseñamos sitios adaptados a cualquier dispositvo de visualización (computador móvil y de escritorio, tabletas, teléfonos móviles).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Aplicaciones Web</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Gestor de contenido y datos</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Comercio electrónico</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Web dinámica</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Plataformas integradas</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Web<br /> estática</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/webdesign.640.jpg);"></div>
</div>

<div class="flex-section reverse">
    <div class="gtco-col-1">
        <div class="text">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>Desarrollo de API´s</h2>
                    <p>Reutilizamos el software de tu empresa, creando intefaces de programación de aplicaciones (API´s)  </p>
                    <p>Intermediarios de software con metodos de comunicación definidos que permiten conectar dos aplicaciones entre sí.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Integración</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Adaptabilidad</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Intercambio de datos</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Estabilidad</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Seguridad</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Integridad</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url(/images/apis2.589.jpg);"></div>
</div>
<div class="flex-section gtco-gray-bg">
    <div class="gtco-col-1">
        <div class="text">
            <div class="row row-pb-sm">
                <div class="col-md-12">
                    <h2>Integración de Plataformas</h2>

                    <p>Diseñamos interfaces que permitan compilar varias fuentes de información en una sola plataforma.</p>
                    <p>Integración de bases de datos, plataformas del mismo rubro comercial e informativo, unión de gremios empresariales.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Multiplataformas</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Integración de Bases de datos</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Compilación y procesamiento de datos</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="check-li">
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Interfaces gráficas</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Conexión y enlaces externos</li>
                        <li><span style="color:#66D37E;margin-right:20px;"><i class="fas fa-check"></i></span>Gremios <br /> informativos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="gtco-col-2 flex-img" style="background-image: url('/images/desk2.min.jpg');"></div>
</div>

<div class="gtco-cover gtco-cover-sm" style="background-image: url('/images/apis.1350.jpg')" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container text-center">
        <div class="display-t">
            <div class="display-tc">
                <h1>¡Te ofrecemos una alta calidad en los servicios que necesita tu empresa!</h1>
            </div>
        </div>
    </div>
</div>


